.cart-container > * {
    margin: 0;
    padding: 1em;
    border-top: 1px solid var(--line-lightgray-color);
}

.cart-container {
    display: flex;
    flex-direction: column;

    width: 50vw;
    padding: 2em;
    margin: 1em auto;
    background-color: var(--bg-lightgray-color);
    border-radius: 2em;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cart-items-delete {
    background-color: var(--text-cart-color);
}

