.cart-container > * {
    margin: 0;
    padding: 1em;
    border-top: 1px solid var(--line-lightgray-color);
}

.cart-container {
    display: flex;
    flex-direction: column;

    width: 75vw;
    padding: 3em;
    margin: 1em auto;
    background-color: var(--bg-lightgray-color);
    border-radius: 2em;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
}

.cart-items-quantity {
    width: 6em;
    text-align: center;
}

.cart-items-quantity-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.cart-items-decrease, .cart-items-increase {
    background-color: var(--bg-main-color);
    border: 1px solid var(--text-cart-color);
    color: var(--text-cart-color);

    width: 2em;
    height: 2em;
    padding: 0;
    border-radius: 0.5em;

    font-weight: bold;
    cursor: pointer;
}

.cart-items-delete {
    background-color: var(--bg-main-color);
    color: var(--text-cart-color)
}

.cart-items-img {
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 1em;
}

.cart-items-img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s;
}

