

.Footer {
    background-color: var(--bg-main-color);
    width: 100vw;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    color: var(--bg-white-color);
}