.show-product-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 1em;
}

.show-product-photo-canvas {
    width: 85%;
    height: 80vh;
    object-fit: cover;
    border-radius: 3em;
}

.show-product-description {
    background-color: var(--bg-lightgray-color);
    border: solid 2px var(--line-lightgray-color);
    border-radius: 2em;

    padding: 1em;
    width: 80%;
    height: 80%vh;
}

.add-to-cart-button {
    background-color: var(--bg-main-color);
    color: var(--bg-white-color);
    border: none;
    border-radius: 1em;

    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}