.show-product-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 1em;
}

.show-product-photo-canvas {
    width: 85%;
    height: 80vh;
    object-fit: cover;
    border-radius: 3em;
}

.show-product-description {
    background-color: #f0f0f0;
    border: solid 1px #ccc;
    border-radius: 2em;

    padding: 1em;
    width: 80%;
    height: 80%vh;
}

.add-to-cart-button {
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 1em;

    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}